<a
    href="#"
    class="pointer-events-none mx-auto flex w-fit flex-col items-center font-kaisei"
>
    <p
        class="pointer-events-auto relative z-10 mb-[-6px] w-fit rounded-full bg-white p-2 text-[9px] text-black-100"
    >
        <!-- 9pxってなに？ -->
        40%offクーポン配布中
    </p>
    <p
        class="pointer-events-auto relative z-0 bg-primary px-3 py-2 text-white shadow-[1px_2px_1px_0_rgba(0,0,0,0.25)] before:content-['◆◇'] after:content-['◇◆']"
    >
        ご予約はこちら
    </p>
</a>
