<a href="#" class="mx-auto flex w-fit flex-col items-center font-kaisei">
    <p class="relative z-10 mb-[-6px] w-fit rounded-full bg-white p-2 text-[9px] text-gray-900">
        <!-- 9pxってなに？ -->
        40%offクーポン配布中
    </p>
    <p
        class="relative z-0 bg-gray-900 px-3 py-2 text-white shadow-[1px_2px_1px_0_rgba(0,0,0,0.25)] before:content-['◆◇'] after:content-['◇◆']"
    >
        ご予約はこちら
    </p>
</a>
