---
import Layout from '../layouts/Layout.astro';
import SecTitle from '../components/common/SecTitle.astro';
import InnerTitle from '../components/common/InnerTitle.astro';

import { Image } from 'astro:assets';
import About01 from '../assets/about/about01.png';
import About02 from '../assets/about/about02.png';
import About03 from '../assets/about/about03.png';
import About04 from '../assets/about/about04.png';
import About05 from '../assets/about/about05.png';
import About06 from '../assets/about/about06.png';
import Image03 from '../assets/img03.png';
---

<Layout title="施設案内">
    <article>
        <section class="pt-10">
            <SecTitle>施設案内</SecTitle>
            <!-- 後にSecTitleでmargin-block:26pxをかけたい -->
            <div>
                <div class="mb-[50px] grid gap-[6px]">
                    <InnerTitle>2段ベッドx2台【9棟】</InnerTitle>
                    <div class="grid gap-3">
                        <Image src={Image03} alt="2段ベッドx2台部屋の写真です。" />
                        <p class="text-center">
                            一部屋に二段ベットが台設置されており、<br />
                            最大4名様まで宿泊可能です。
                        </p>
                    </div>
                </div>
                <div class="mb-[50px] grid gap-[6px]">
                    <InnerTitle>シングルベッドx2台【2棟】</InnerTitle>
                    <div class="grid gap-3">
                        <Image src={Image03} alt="2段ベッドx2台部屋の写真です。" />
                        <p class="text-center">
                            一部屋にシングルベッドが2台あるので<br />
                            最大2名様まで宿泊可能です
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </article>
</Layout>
