---
import Layout from '../layouts/Layout.astro';
import SecTitle from '../components/common/SecTitle.astro';
import InnerTitle from '../components/common/InnerTitle.astro';
---

<Layout title="施設案内">
    <article>
        <section class="pt-10">
            <SecTitle>施設案内</SecTitle>
            <div>
                <InnerTitle>2段ベッドx2台【9棟】</InnerTitle>
                <p>
                    一部屋に二段ベットが台設置されており、<br />
                    最大4名様まで宿泊可能です。
                </p>
            </div>
        </section>
    </article>
</Layout>
