---
import Layout from '../layouts/Layout.astro';
import SecTitle from '../components/common/SecTitle.astro';
import InnerTitle from '../components/common/InnerTitle.astro';
---

<Layout title="アクセス">
    <!-- コメント -->
    <article class="pt-[66px]">
        <section>
            <SecTitle>アクセス</SecTitle>
            <div class="my-[25px] grid gap-[25px]">
                <InnerTitle>住所</InnerTitle>
                <p class="mb-[15px] text-sm">
                    〒696-0103<br />
                    島根県邑智郡邑南町矢上2771番地
                </p>
            </div>
        </section>
    </article>
</Layout>
