---
import Layout from '../layouts/Layout.astro';
import SecTitle from '../components/common/SecTitle.astro';
import InnerTitle from '../components/common/InnerTitle.astro';
---

<Layout title="アクセス">
    <!-- コメント -->
    <article class="pt-[66px]">
        <section>
            <SecTitle>アクセス</SecTitle>
        </section>
    </article>
</Layout>
