---
import Layout from '../layouts/Layout.astro';
import SecTitle from '../components/common/SecTitle.astro';
import InnerTitle from '../components/common/InnerTitle.astro';
---

<Layout title="アクセス">
    <!-- コメント -->
    <article class="pt-[66px]">
        <section>
            <SecTitle>アクセス</SecTitle>
            <div class="my-[25px]">
                <div class="grid gap-[25px]">
                    <InnerTitle>住所</InnerTitle>
                    <p class="mb-[15px] text-sm">
                        〒696-0103<br />
                        島根県邑智郡邑南町矢上2771番地
                    </p>
                </div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.207234086477!2d132.4215965!3d34.876142099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355a7044ee4d577d%3A0x12a551db9d9ee7e9!2z44CSNjk2LTAxMDMg5bO25qC555yM6YKR5pm66YOh6YKR5Y2X55S655-i5LiK77yS77yX77yX77yR!5e0!3m2!1sja!2sjp!4v1731651963026!5m2!1sja!2sjp"
                    width="600"
                    height="450"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                    class="h-[340px] w-full"></iframe>
            </div>
        </section>
        <section class="my-[25px] grid gap-[25px]">
            <InnerTitle>自転車の場合</InnerTitle>
            <ul>
                <li class="text-sm before:content-['・']">浜田道瑞穂インターチェンジから8km(約10分）</li>
                <li class="text-sm before:content-['・']">原山雲海ロード/県道327号を直進する</li>
            </ul>
        </section>
    </article>
    <!-- footerがPC画面だと切れてしまっているので要対策 -->
</Layout>
