---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro." />
<h2 class="font-kaisei" style="color:#fff">こんにちは</h2>
<h2 class="font-kurenaido" style="color:#fff">こんにちは</h2>
