---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro." />
<section>
    <img src="" alt="" class="w-full h-80 bg-gray-900 border-solid" />
    <h1 class="text-xl text-center">
        ハーブの香りと木々の隙間から降り注ぐ<br />木漏れ日を感じる癒し空間
    </h1>
</section>
