---
import Layout from '../layouts/Layout.astro';

import SecTitle from '../components/common/SecTitle.astro';
import NewsItem from '../components/news/NewsItem.astro';
import CouponItem from '../components/news/CouponItem.astro';

// テキストをまとめたjsonファイル
import newsData from '../locales/ja/news.json';

// 日付順にnews配列をソート (降順)
const sortedNews = newsData.news.sort(
    (a, b) => new Date(b.date).getTime() - new Date(a.date).getTime()
);
---

<Layout title="お知らせ">
    <div class="my-6 container mx-auto">
        <SecTitle title="お知らせ" />
        {sortedNews.map((news) => (
            <NewsItem
                title={news.title}
                content={news.content}
                date={news.date}
            />
        ))}
    </div>
</Layout>
