---
import Layout from '../layouts/Layout.astro';
import SecTitle from '../components/common/SecTitle.astro';
---

<Layout title="プライバシーポリシー">
    <article class="pt-[66px]">
        <section>
            <SecTitle>プライバシーポリシー</SecTitle>
            <div class="grid gap-[15px]">
                <h3 class="font-kaisei text-[15px] before:content-['ー'] after:content-['ー']">個人情報保護方針</h3>
                <p class="first-letter:pl-4">
                    株式会社ウェルスは、邑南町香木の森公園 バンガローの指定管理業務を運営していくうえで
                    取得した個人情報は厳正に管理すべきであることを認識し、個人情報保護方針を定めるとともに、
                    実行かつ維持に努めます。
                </p>
            </div>
        </section>
    </article>
</Layout>
