---
import Layout from '../layouts/Layout.astro';
import SecTitle from '../components/common/SecTitle.astro';
---

<Layout title="プライバシーポリシー">
    <article class="pt-[66px]">
        <section>
            <SecTitle>プライバシーポリシー</SecTitle>
        </section>
    </article>
</Layout>
