---
import SecTitle from "../components/common/SecTitle.astro";
import Layout from "../layouts/Layout.astro";
import InnerTitle from "../components/common/InnerTitle.astro";

// 画像のsrc定義
import { Image } from "astro:assets";
import Reservation01 from "../assets/img05.png";
import Reservation02 from "../assets/img01.png";
---
<Layout title="ご予約について">
    <!-- ご予約について -->
    <section>
        <SecTitle title="ご予約について" />
        <div class="mt-5 mb-4">
            <Image
            src={Reservation01}
            alt="バンガローの写真"
            />
        </div>

        <!-- 手紙みたいなやつ -->
        <div class="mt-4 py-4 px-5 border-[0.5px] border-black-100 items-center justify-center flex">
            <ul class="text-xs leading-6 tracking-widest text-black-100">
                <li class="border-b-[0.5px] border-black-100">・ご予約は90日先まで受付ております</li>
                <li class="border-b-[0.5px] border-black-100">・ご利用日前日の17:00までに、ご予約ください</li>
                <li class="border-b-[0.5px] border-black-100">・ペット同伴での宿泊は対応しておりません</li>
            </ul>
        </div>
    </section>

    <!-- セクション区切り罫線 -->
    <div class="my-7 border-[0.5px] border-black-100"/>

    <!-- BBQレンタル -->
    <section>
        <InnerTitle>BBQコンロのレンタル</InnerTitle>

        <div class="mt-4 px-2">
            <p class="text-sm leading-6 tracking-widest text-black-100">
                BBQコンロをレンタルしています<br/>
                下記のセット内容からお選びください。<br/>
                レンタルをご希望の方は<br/>
                予約ボタンからご予約ください
            </p>
        </div>
    </section>

    <!-- セクション区切り罫線 -->
    <div class="my-7 border-[0.5px] border-black-100"/>

    <!-- ご利用について -->
    <section>
        <InnerTitle>ご利用について</InnerTitle>

        <!-- 手紙みたいなやつ -->
        <div class="mt-6 mx-2 py-4 px-5 border-[0.5px] border-black-100 items-center justify-center flex">
            <ul class="text-xs leading-6 tracking-widest text-black-100">
                <li class="border-b-[0.5px] border-black-100">・ご利用時間は15:00~翌日10:00です。</li>
                <li class="border-b-[0.5px] border-black-100">・備品等のバンガロー外への持ち出しは できません。</li>
                <li class="border-b-[0.5px] border-black-100">・ゴミは受付時に専用の袋をお渡ししますので</li>
                <li class="border-b-[0.5px] border-black-100">燃えるゴミ燃えないゴミに分けて玄関内においてください。</li>
            </ul>
        </div>
    </section>

    <!-- セクション区切り罫線 -->
    <div class="my-7 border-[0.5px] border-black-100"/>

    <!-- 受付窓口 -->
     <div>
        <InnerTitle>受付窓口</InnerTitle>
        <div class="mt-4 px-2 flex-col">

            <!-- 受付場所 -->
            <p class="font-kaisei text-sm leading-6 tracking-widest text-black-100">◆受付場所</p>
            <p class="text-sm leading-6 tracking-widest text-black-100">いこいの村しまね</p>

            <!-- 画像 -->
            <div class="my-4">
                <Image
                    src={Reservation02}
                    alt="施設の写真"
                />
            </div>

            <!-- 住所と電話番号 -->
            <p class="text-sm leading-6 tracking-widest text-black-100">住所:島根県邑智郡邑南町高水2467-10</p>
            <p class="text-sm leading-6 tracking-widest text-black-100">TEL:0855-95-1205</p>

            <!-- 受付時間 -->
            <div class="space-y-4 mt-4">
                 <!-- 受付時間 / チェックイン -->
                 <div>
                    <p class="font-kaisei text-sm leading-6 tracking-widest text-black-100">◆受付時間</p>
                    <p class="text-sm leading-6 tracking-widest text-black-100">＜チェックイン＞</p>
                    <p class="text-sm leading-6 tracking-widest text-black-100">15:00~19:00</p>
                    <p class="text-sm leading-6 tracking-widest text-black-100">＊17:00を過ぎる場合は必ずご連絡ください。</p>
                    <p class="text-sm leading-6 tracking-widest text-black-100">TEL:0855-95-1205</p>
                </div>
                    
                <!-- 受付時間 / チェックアウト -->
                <div>
                    <p class="text-sm leading-6 tracking-widest text-black-100">＜チェックアウト＞</p>
                    <p class="text-sm leading-6 tracking-widest text-black-100">08:00~10:00</p>
                </div>
            </div>

            <!-- 駐車場について -->
             <div class="mt-4">
                <div>
                    <p class="font-kaisei text-sm leading-6 tracking-widest text-black-100">◆駐車場について</p>
                    <p class="text-sm leading-6 tracking-widest text-black-100">＊駐車スペースはチェックイン時にご確認ください。</p>
                </div>
             </div>
        </div>
     </div>
</Layout>