<ul>
    <li>
        <a
            href="#"
            class="grid grid-cols-[max-content_1fr] gap-4 px-2 py-1 border-b-[1px] border-gray-900"
        >
            <p>2020.02.01</p>
            <p>
                こんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちは
            </p>
        </a>
    </li>
    <li>
        <a
            href="#"
            class="grid grid-cols-[max-content_1fr] gap-4 px-2 py-1 border-b-[1px] border-gray-900"
        >
            <p>2020.02.01</p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error
                esse debitis, molestias reprehenderit maxime voluptatem deleniti
                odit, facilis minima quibusdam aut doloremque sapiente rem
                expedita sit earum magnam accusantium magni.
            </p>
        </a>
    </li>
    <li>
        <a
            href="#"
            class="grid grid-cols-[max-content_1fr] gap-4 px-2 py-1 border-b-[1px] border-gray-900"
        >
            <p>2020.02.01</p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error
                esse debitis, molestias reprehenderit maxime voluptatem deleniti
                odit, facilis minima quibusdam aut doloremque sapiente rem
                expedita sit earum magnam accusantium magni.
            </p>
        </a>
    </li>
    <li>
        <a
            href="#"
            class="grid grid-cols-[max-content_1fr] gap-4 px-2 py-1 border-b-[1px] border-gray-900"
        >
            <p>2020.02.01</p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error
                esse debitis, molestias reprehenderit maxime voluptatem deleniti
                odit, facilis minima quibusdam aut doloremque sapiente rem
                expedita sit earum magnam accusantium magni.
            </p>
        </a>
    </li>
</ul>
