<ul class="grid">
    <li class="grid grid-cols-subgrid col-span-2">
        <a
            href="#"
            class="grid grid-cols-subgrid col-span-2 gap-4 px-2 py-1 border-b-[1px] border-gray-900"
        >
            <p>2020.02.01</p>
            <p>
                こんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちは
            </p>
        </a>
    </li>
    <li class="grid grid-cols-subgrid col-span-2">
        <a
            href="#"
            class="grid grid-cols-subgrid col-span-2 gap-4 px-2 py-1 border-b-[1px] border-gray-900"
        >
            <p>2020.02.01</p>
            <p>
                こんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちは
            </p>
        </a>
    </li>
    <li class="grid grid-cols-subgrid col-span-2">
        <a
            href="#"
            class="grid grid-cols-subgrid col-span-2 gap-4 px-2 py-1 border-b-[1px] border-gray-900"
        >
            <p>2020.02.01</p>
            <p>
                こんにちはこんにちはこんにちはこんにちはこんにちはこんにちはこんにちは
            </p>
        </a>
    </li>
</ul>

<a href="#" class="flex gap-1 text-[10px] items-center ml-auto w-fit">
    詳しく見る
    <span
        class="block border-l-black border-l-[8px] border-transparent border-y-[6px] w-0 h-0"
    ></span>
</a>
