<a href="#" class="font-kaisei flex flex-col items-center w-fit mx-auto">
    <p
        class="p-2 rounded-full bg-white text-gray-900 w-fit text-[9px] mb-[-6px] relative z-10"
    >
        <!-- 9pxってなに？ -->
        40%offクーポン配布中
    </p>
    <p
        class="before:content-['◆◇'] after:content-['◇◆'] bg-gray-900 text-white px-3 py-2 relative z-0"
    >
        ご予約はこちら
    </p>
</a>
