<h2 class="p-1 border-2 border-gray-900">
    <p
        class="p-[6px] bg-gray-900 text-white grid grid-cols-[min-content_1fr_min-content] text-center text-sm"
    >
        <span class="h-full aspect-square block border-l-[1px] border-b-[1px]"
        ></span>
        <slot />
        <span class="h-full aspect-square block border-t-[1px] border-r-[1px]"
        ></span>
    </p>
</h2>
