<h2 class="p-1 border-2 border-gray-900">
    <p
        class="p-1 bg-gray-900 text-white grid grid-cols-[min-content_1fr_min-content] text-center text-sm"
    >
        <span class="h-full aspect-square block border-l-2 border-b-2"></span>
        <slot />
        <span class="h-full aspect-square block border-t-2 border-r-2"></span>
    </p>
</h2>
