---
const { privacyPolicyLink, managerInfo, copyright } = Astro.props;
---

<footer class="w-full bg-primary py-6 lg:py-8 text-center text-white">
    <a href={privacyPolicyLink} class="text-[10px] lg:text-sm">プライバシーポリシー</a>
    <p class="text-[10px] lg:text-sm">
        {managerInfo}
    </p>
    <small>
        <!-- コピーライトだけいろが変わりません。 -->
        <p class="text-[10px] lg:text-sm">&copy;{copyright}</p>
    </small>
</footer>
