---
const { privacyPolicyLink, managerInfo, copyright } = Astro.props;
---

<footer class="w-full text-center bg-gray-900 text-white py-6">
    <a href={privacyPolicyLink} class="text-[10px]">プライバシーポリシー</a>
    <p class="text-[10px]">
        {managerInfo}
    </p>
    <small>
        <p class="text-[10px]">{copyright}</p>
    </small>
</footer>
