---
const navItems = [
    { name: 'トップページ', link: '/' },
    { name: 'お知らせ', link: '/news/' },
    { name: '施設案内', link: '/about/' },
    { name: 'ご予約について', link: '/reservation/' },
    { name: 'アクセス', link: '/access/' },
    { name: 'お問い合わせ', link: '/contact/' },
];
---

<header
    id="header"
    class="fixed left-0 top-0 z-50 h-fit w-full bg-[#FAF7F0] px-6"
>
    <nav class="grid">
        <!-- メニューボタン -->
        <button
            id="menuButton"
            class="ml-auto flex h-10 w-10 items-center justify-center lg:hidden"
            aria-expanded="false"
            aria-label="Toggle Menu"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#4A4947"
                ><path
                    d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
                ></path></svg
            >
        </button>

        <!-- ナビゲーションリスト -->
        <ul
            id="menuList"
            class="h-0 overflow-hidden bg-base text-center duration-200 lg:grid lg:h-fit lg:grid-cols-6 lg:overflow-visible"
        >
            {
                navItems.map((item) => (
                    <li class="border-b border-gray-900 last:border-none lg:border-none">
                        <a href={item.link} class="block py-3 font-kaisei">
                            {item.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>
<!-- 背景 -->
<div
    id="bg"
    class="pointer-events-none fixed inset-0 z-20 lg:pointer-events-none lg:backdrop-blur-none"
>
</div>

<script>
    const menuButton = document.getElementById('menuButton');
    const menuList = document.getElementById('menuList');
    const menuBg = document.getElementById('bg');

    menuButton?.addEventListener('click', () => {
        menuList?.classList.toggle('h-fit');
        menuBg?.classList.toggle('pointer-events-auto');
        menuBg?.classList.toggle('backdrop-blur-sm');
    });
</script>
