---
const { title } = Astro.props;
---

<h2 class="mx-auto w-[250px] border-2 border-primary p-1">
    <p
        class="grid grid-cols-[min-content_1fr_min-content] bg-primary p-[6px] text-center font-kaisei text-[15px] font-medium leading-[25px] text-white"
    >
        <span class="block aspect-square h-full border-b-[1px] border-l-[1px]"
        ></span>
        {title}
        <span class="block aspect-square h-full border-r-[1px] border-t-[1px]"
        ></span>
    </p>
</h2>
