---

const { title } = Astro.props;

---
<h2 class="border-2 border-gray-900 p-1">
    <p
        class="grid grid-cols-[min-content_1fr_min-content] bg-gray-900 p-[6px] text-center font-kaisei text-sm text-white"
    >
        <span class="block aspect-square h-full border-b-[1px] border-l-[1px]"></span>
            {title}
        <span class="block aspect-square h-full border-r-[1px] border-t-[1px]"></span>
    </p>
</h2>
