---
// テキストをまとめたjsonファイル
import newsData from '../../locales/ja/news.json';

// 日付順にnews配列をソート (降順)
const sortedNews = newsData.news.sort(
    (a, b) => new Date(b.date).getTime() - new Date(a.date).getTime()
);
---

<ul class="grid grid-cols-[max-content,1fr] text-xs leading-[25px] px-5">
    {
        sortedNews.map((item) => (
            <li class="col-span-2 grid grid-cols-subgrid">
                <a
                    href="/news/"
                    class="col-span-2 grid grid-cols-subgrid gap-14 border-b-[1px] border-black-100 px-2 py-1"
                >
                    <p>{item.date}</p>
                    <p class="line-clamp-2">{item.title}</p>
                </a>
            </li>
        ))
    }
</ul>

<a href="/news/" class="ml-auto flex w-fit items-center gap-1 text-[10px] px-5">
    詳しく見る
    <span
        class="block h-0 w-0 border-y-[6px] border-l-[8px] border-transparent border-l-black-100"
    ></span>
</a>
