---
const { buttonText } = Astro.props;
---

<button class="max-w-fit bg-primary px-4 py-2" type="button">
    <p class="font-kaisei text-xl font-bold text-white">
        {buttonText}
    </p>
</button>
